/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Barrage implementation : © Timothe Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * barrage.css
 *
 * Barrage stylesheet
 *
 */

@font-face {
  font-family: 'Oranienbaum';
  src: url('img/fonts/Oranienbaum.woff2') format('woff2'), url('img/fonts/Oranienbaum.woff') format('woff'),
    url('img/fonts/Oranienbaum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url('img/ui/texture.jpg');
  background-repeat: repeat;
  background-size: 50px;
}

.player-board {
  background-color: #ebeaea;
}

#page-title {
  background-color: #ebeaea;
}

#topbar {
  background-color: #ebeaea;
}

@import 'modules/css/layout';
@import 'modules/css/modals';
@import 'modules/css/meeples';
@import 'modules/css/playerPanel';
@import 'modules/css/companyBoard';
@import 'modules/css/settings';
@import 'modules/css/variables';
@import 'modules/css/nouislider';
@import 'modules/css/flip';
