/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Barrage implementation : © Timothe Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * barrage.css
 *
 * Barrage stylesheet
 *
 */

@font-face {
  font-family: 'Oranienbaum';
  src: url('img/fonts/Oranienbaum.woff2') format('woff2'), url('img/fonts/Oranienbaum.woff') format('woff'),
    url('img/fonts/Oranienbaum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Betty Noir';
  src: url('img/fonts/BettyNoir.woff2') format('woff2'), url('img/fonts/BettyNoir.woff') format('woff'),
    url('img/fonts/BettyNoir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-image: url('img/ui/texture.jpg');
  background-repeat: repeat;
  background-size: 50px;
}

.player-board {
  //  background-color: #ebeaea;
}

#page-title {
  background-color: #ebeaea;
}

#topbar {
  background-color: #ebeaea;
}

// Disabled button
#customActions .bgabutton.disabled {
  opacity: 0.5;
  background: linear-gradient(rgba(189, 189, 189, 0.59), rgba(166, 165, 165, 0.45));
  cursor: not-allowed;
  pointer-events: all;
}

#customActions .bgabutton.selected {
  background: linear-gradient(rgba(89, 219, 78, 0.87), rgba(87, 149, 59, 0.89));
}

.phantom {
  visibility: hidden;
}

// SAFE MODE
#ebd-body.help-mode {
  .tooltipable {
    cursor: help;
  }
}

.help-marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  border: 1px solid black;
  border-radius: 50%;

  svg {
    width: 20px;
    height: 20px;
  }
}

#ebd-body:not(.help-mode) {
  .help-marker {
    opacity: 0;
    pointer-events: none;
  }
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

@import 'modules/css/layout';
@import 'modules/css/modals';
@import 'modules/css/meeples';
@import 'modules/css/icons';
@import 'modules/css/playerPanel';
@import 'modules/css/companyBoard';
@import 'modules/css/settings';
@import 'modules/css/nouislider';
@import 'modules/css/flip';
@import 'modules/css/map';
@import 'modules/css/contract';
@import 'modules/css/techTiles';
