@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Barrage implementation : © Timothe Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * barrage.css
 *
 * Barrage stylesheet
 *
 */
@font-face {
  font-family: 'Oranienbaum';
  src: url("img/fonts/Oranienbaum.woff2") format("woff2"), url("img/fonts/Oranienbaum.woff") format("woff"), url("img/fonts/Oranienbaum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
html {
  background-image: url("img/ui/texture.jpg");
  background-repeat: repeat;
  background-size: 50px; }

.player-board {
  background-color: #ebeaea; }

#page-title {
  background-color: #ebeaea; }

#topbar {
  background-color: #ebeaea; }

#game_play_area {
  font-size: 30px; }

.meeple-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1.3em; }

.barrage-meeple {
  background-image: url("img/meeples.png");
  background-repeat: no-repeat; }
  .barrage-meeple.meeple-credit {
    min-width: 0.9662em;
    height: 1em;
    background-position: 0% 17.7704%;
    background-size: 898.246%; }
  .barrage-meeple.meeple-excavator {
    min-width: 1.2458em;
    height: 1.2289em;
    background-position: 22.0068% 0%;
    background-size: 696.599%; }
  .barrage-meeple.meeple-mixer {
    min-width: 0.7797em;
    height: 1.2034em;
    background-position: 36.4807% 0%;
    background-size: 1113.04%; }
  .barrage-meeple.meeple-engineer[data-company='1'] {
    min-width: 0.6865em;
    height: 1.1441em;
    background-position: 71.6861% 0%;
    background-size: 1264.2%; }
  .barrage-meeple.meeple-engineer[data-company='2'] {
    min-width: 0.695em;
    height: 1.195em;
    background-position: 45.8599% 0%;
    background-size: 1248.78%; }
  .barrage-meeple.meeple-engineer[data-company='3'] {
    min-width: 0.695em;
    height: 1.1865em;
    background-position: 54.5648% 0%;
    background-size: 1248.78%; }
  .barrage-meeple.meeple-engineer[data-company='4'] {
    min-width: 0.6865em;
    height: 1.2373em;
    background-position: 11.877% 0%;
    background-size: 1264.2%; }
  .barrage-meeple.meeple-engineer[data-company='5'] {
    min-width: 0.678em;
    height: 1.1611em;
    background-position: 63.1356% 0%;
    background-size: 1280%; }
  .barrage-meeple.meeple-base[data-company='0'] {
    min-width: 3.6286em;
    height: 3.1429em;
    background-position: 0% 30.5252%;
    background-size: 806.299%; }
  .barrage-meeple.meeple-base[data-company='1'] {
    min-width: 3.6572em;
    height: 3.2em;
    background-position: 36.1607% 17.6535%;
    background-size: 800%; }
  .barrage-meeple.meeple-base[data-company='2'] {
    min-width: 3.6572em;
    height: 3.2em;
    background-position: 50.4464% 17.6535%;
    background-size: 800%; }
  .barrage-meeple.meeple-base[data-company='3'] {
    min-width: 3.6572em;
    height: 3.2em;
    background-position: 64.7321% 17.6535%;
    background-size: 800%; }
  .barrage-meeple.meeple-base[data-company='4'] {
    min-width: 3.6572em;
    height: 3.2em;
    background-position: 79.0179% 17.6535%;
    background-size: 800%; }
  .barrage-meeple.meeple-base[data-company='5'] {
    min-width: 3.6858em;
    height: 3.2572em;
    background-position: 21.7877% 17.6923%;
    background-size: 793.798%; }
  .barrage-meeple.meeple-elevation[data-company='0'] {
    min-width: 3.7143em;
    height: 2.8286em;
    background-position: 95.5257% 42.0541%;
    background-size: 787.692%; }
  .barrage-meeple.meeple-elevation[data-company='1'] {
    min-width: 3.6286em;
    height: 2.8286em;
    background-position: 0% 53.9459%;
    background-size: 806.299%; }
  .barrage-meeple.meeple-elevation[data-company='2'] {
    min-width: 3.6858em;
    height: 2.7715em;
    background-position: 43.352% 53.8296%;
    background-size: 793.798%; }
  .barrage-meeple.meeple-elevation[data-company='3'] {
    min-width: 3.6858em;
    height: 2.7715em;
    background-position: 57.7654% 53.8296%;
    background-size: 793.798%; }
  .barrage-meeple.meeple-elevation[data-company='4'] {
    min-width: 3.6286em;
    height: 2.6858em;
    background-position: 82.3857% 53.6559%;
    background-size: 806.299%; }
  .barrage-meeple.meeple-elevation[data-company='5'] {
    min-width: 3.6858em;
    height: 2.8em;
    background-position: 28.9385% 53.8877%;
    background-size: 793.798%; }
  .barrage-meeple.meeple-conduit[data-company='1'] {
    min-width: 2.3143em;
    height: 3.2858em;
    background-position: 12.0891% 17.7118%;
    background-size: 1264.2%; }
  .barrage-meeple.meeple-conduit[data-company='2'] {
    min-width: 2.2em;
    height: 3.1715em;
    background-position: 88.2788% 17.6342%;
    background-size: 1329.87%; }
  .barrage-meeple.meeple-conduit[data-company='3'] {
    min-width: 2.2572em;
    height: 3.3715em;
    background-position: 91.1111% 0%;
    background-size: 1296.2%; }
  .barrage-meeple.meeple-conduit[data-company='4'] {
    min-width: 2.0858em;
    height: 3.1715em;
    background-position: 96.0042% 17.6342%;
    background-size: 1402.74%; }
  .barrage-meeple.meeple-conduit[data-company='5'] {
    min-width: 2.2858em;
    height: 3.3715em;
    background-position: 99.5763% 0%;
    background-size: 1280%; }
  .barrage-meeple.meeple-powerhouse[data-company='1'] {
    min-width: 3.7715em;
    height: 2.8572em;
    background-position: 55.9417% 42.0996%;
    background-size: 775.758%; }
  .barrage-meeple.meeple-powerhouse[data-company='2'] {
    min-width: 3.8em;
    height: 2.8858em;
    background-position: 41.0774% 42.1452%;
    background-size: 769.925%; }
  .barrage-meeple.meeple-powerhouse[data-company='3'] {
    min-width: 3.7715em;
    height: 2.8286em;
    background-position: 14.2377% 53.9459%;
    background-size: 775.758%; }
  .barrage-meeple.meeple-powerhouse[data-company='4'] {
    min-width: 3.7715em;
    height: 2.8572em;
    background-position: 70.7399% 42.0996%;
    background-size: 775.758%; }
  .barrage-meeple.meeple-powerhouse[data-company='5'] {
    min-width: 3.2572em;
    height: 2.4858em;
    background-position: 19.8901% 63.8207%;
    background-size: 898.246%; }

.avatar.automa {
  background-image: url("img/companies.jpg");
  background-size: 600% 100%; }

.player_panel_content .company-info {
  display: flex; }
  .player_panel_content .company-info .company-logo {
    width: 40px;
    height: 40px;
    background-image: url("img/companies.jpg");
    background-size: 600% 100%;
    border: 2px solid black;
    border-radius: 50%; }
    .player_panel_content .company-info .company-logo[data-company='1'] {
      background-position-x: 20%; }
    .player_panel_content .company-info .company-logo[data-company='2'] {
      background-position-x: 40%; }
    .player_panel_content .company-info .company-logo[data-company='3'] {
      background-position-x: 60%; }
    .player_panel_content .company-info .company-logo[data-company='4'] {
      background-position-x: 80%; }
    .player_panel_content .company-info .company-logo[data-company='5'] {
      background-position-x: 100%; }
    .player_panel_content .company-info .company-logo[data-company='6'] {
      background-position-x: 120%; }
  .player_panel_content .company-info .company-name {
    font-family: 'Oranienbaum';
    font-weight: bold;
    margin-left: 5px; }
.player_panel_content .company-panel-resources {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0.5rem 0; }
  .player_panel_content .company-panel-resources .company-reserve {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%; }
    .player_panel_content .company-panel-resources .company-reserve .barrage-meeple:not(.moving) {
      display: none; }
  .player_panel_content .company-panel-resources .company-resource {
    margin: 4px 0px;
    position: relative;
    flex-basis: 25%;
    text-align: center; }
    .player_panel_content .company-panel-resources .company-resource .reserve {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%; }
      .player_panel_content .company-panel-resources .company-resource .reserve > div.barrage-meeple:not(.moving) {
        display: none; }

.company-board .company-board-wrapper {
  width: 1111px;
  height: 702px;
  background-image: url("img/company_boards.jpg");
  background-size: 200% 300%;
  position: relative; }
  .company-board .company-board-wrapper .action-space-wrapper {
    position: absolute;
    top: 52px;
    height: 60px;
    background: rgba(255, 0, 0, 0.3);
    border-radius: 8px; }
    .company-board .company-board-wrapper .action-space-wrapper.construct-0 {
      width: 136px;
      left: 160px; }
    .company-board .company-board-wrapper .action-space-wrapper.construct-1 {
      width: 190px;
      left: 313px; }
    .company-board .company-board-wrapper .action-space-wrapper.construct-2 {
      width: 243px;
      left: 520px; }
    .company-board .company-board-wrapper .action-space-wrapper.construct-3 {
      width: 243px;
      left: 806px; }
  .company-board .company-board-wrapper .structures-wrapper {
    position: absolute;
    left: 343px;
    height: 105px;
    width: 625px;
    display: flex; }
    .company-board .company-board-wrapper .structures-wrapper .building-slot {
      width: 104px;
      height: 85px;
      margin: 10px 11px 10px 10px;
      display: flex; }
    .company-board .company-board-wrapper .structures-wrapper.bases-wrapper {
      top: 165px; }
    .company-board .company-board-wrapper .structures-wrapper.elevations-wrapper {
      top: 285px; }
    .company-board .company-board-wrapper .structures-wrapper.conduits-wrapper {
      top: 407px; }
      .company-board .company-board-wrapper .structures-wrapper.conduits-wrapper .building-slot {
        width: 64px;
        margin: 0px 30px 20px 31px; }
    .company-board .company-board-wrapper .structures-wrapper.powerhouses-wrapper {
      top: 525px; }
      .company-board .company-board-wrapper .structures-wrapper.powerhouses-wrapper .building-slot:nth-of-type(2) {
        margin: 10px 32px 10px 51px; }
      .company-board .company-board-wrapper .structures-wrapper.powerhouses-wrapper .building-slot:nth-of-type(3) {
        margin: 10px 51px 10px 32px; }
.company-board[data-company='1'] .company-board-wrapper {
  background-position-x: 0%;
  background-position-y: 0%; }
.company-board[data-company='2'] .company-board-wrapper {
  background-position-x: 100%;
  background-position-y: 0%; }
.company-board[data-company='3'] .company-board-wrapper {
  background-position-x: 0%;
  background-position-y: 50%; }
.company-board[data-company='4'] .company-board-wrapper {
  background-position-x: 100%;
  background-position-y: 50%; }
.company-board[data-company='5'] .company-board-wrapper {
  background-position-x: 0%;
  background-position-y: 100%; }
.company-board[data-company='6'] .company-board-wrapper {
  background-position-x: 100%;
  background-position-y: 100%; }

#player_config {
  margin: 10px 0px; }
  #player_config #player_config_row {
    display: flex;
    justify-content: space-around; }
  #player_config #player_info_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px; }
  #player_config #uwe-help {
    width: 32px;
    height: 32px;
    background: url("img/help/uwe.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #fbfbfb;
    background-position: bottom right;
    border-radius: 50%;
    border: 1px solid black;
    margin: -4px -10px 7px 0px;
    cursor: pointer; }
  #player_config #help-mode-switch .checkbox {
    display: none; }
  #player_config #help-mode-switch .label {
    background-color: #2c3037;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 26px;
    width: 50px; }
  #player_config #help-mode-switch .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear, color 0.7s linear; }
  #player_config #help-mode-switch .checkbox:checked + .label .ball {
    transform: translateX(24px); }
  #player_config #help-mode-switch svg {
    width: 27px; }
  #player_config #show-help,
  #player_config #show-settings,
  #player_config #show-scores {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    #player_config #show-help:hover,
    #player_config #show-settings:hover,
    #player_config #show-scores:hover {
      color: grey; }
    #player_config #show-help svg,
    #player_config #show-settings svg,
    #player_config #show-scores svg {
      width: auto;
      height: 40px; }
  #player_config #show-settings .fa-primary {
    transform-origin: 216px 255px;
    transition: transform 1s; }
  #player_config #show-settings:hover .fa-primary {
    transform: rotate(180deg); }

/*
 * Controls in the top bar
 */
#settings-controls-container {
  position: relative;
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 10px; }
  #settings-controls-container.settingsControlsHidden {
    display: none; }
  #settings-controls-container .row-data {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray; }
    #settings-controls-container .row-data .row-label {
      width: 100%;
      float: none;
      color: black;
      padding-bottom: 0px;
      text-overflow: initial;
      white-space: normal;
      padding: 2px 4px 0px; }
    #settings-controls-container .row-data .row-value {
      width: 85%;
      margin: 0; }

/*! nouislider - 14.6.0 - 6/27/2020 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  -webkit-transition: transform .3s;
  transition: transform .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #3FB8AF; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

.flip-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px; }
  .flip-container .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: rotateY(0deg); }
    .flip-container .flip-inner .flip-front,
    .flip-container .flip-inner .flip-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      transform: rotateY(0deg); }
    .flip-container .flip-inner .flip-back {
      transform: rotateY(180deg); }
  .flip-container.flipped .flip-inner {
    transform: rotateY(180deg); }

#brg-map[data-map='1'] {
  width: 1000px;
  height: 1464px;
  background-image: url("img/base_map.jpg");
  background-size: 100% 100%;
  border-radius: 29px;
  box-shadow: 1px 1px 3px black;
  border: 2px solid black;
  position: relative; }
  #brg-map[data-map='1'] .headstream {
    width: 203px;
    height: 122px;
    position: absolute;
    top: 9px;
    opacity: 1; }
    #brg-map[data-map='1'] .headstream[data-id='HA'] {
      left: 53px; }
    #brg-map[data-map='1'] .headstream[data-id='HB'] {
      left: 307px; }
    #brg-map[data-map='1'] .headstream[data-id='HC'] {
      left: 534px; }
    #brg-map[data-map='1'] .headstream[data-id='HD'] {
      left: 776px; }
    #brg-map[data-map='1'] .headstream .headstream-tile {
      width: 100%;
      height: 100%;
      background: url("img/headstreams.png");
      background-size: 200% 400%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='1'] {
        background-position-x: 0%;
        background-position-y: 0%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='2'] {
        background-position-x: 100%;
        background-position-y: 0%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='3'] {
        background-position-x: 0%;
        background-position-y: 33.3333333333%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='4'] {
        background-position-x: 100%;
        background-position-y: 33.3333333333%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='5'] {
        background-position-x: 0%;
        background-position-y: 66.6666666667%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='6'] {
        background-position-x: 100%;
        background-position-y: 66.6666666667%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='7'] {
        background-position-x: 0%;
        background-position-y: 100%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='8'] {
        background-position-x: 100%;
        background-position-y: 100%; }
      #brg-map[data-map='1'] .headstream .headstream-tile[data-tile='9'] {
        background-position-x: 0%;
        background-position-y: 133.3333333333%; }

/*# sourceMappingURL=barrage.css.map */
