#brg-map[data-map='1'] {
  width: 1000px;
  height: 1464px;
  background-image: url('img/base_map.jpg');
  background-size: 100% 100%;
  border-radius: 29px;
  box-shadow: 1px 1px 3px black;
  border: 2px solid black;
  position: relative;

  .headstream {
    width: 203px;
    height: 122px;
    position: absolute;
    top: 9px;
    opacity: 1;

    &[data-id='HA'] {
      left: 53px;
    }
    &[data-id='HB'] {
      left: 307px;
    }
    &[data-id='HC'] {
      left: 534px;
    }
    &[data-id='HD'] {
      left: 776px;
    }

    .headstream-tile {
      width: 100%;
      height: 100%;
      background: url('img/headstreams.png');
      background-size: 200% 400%;

      @for $i from 0 through 8 {
        &[data-tile='#{$i + 1}'] {
          background-position-x: ($i % 2) * 100%;
          background-position-y: (($i - ($i % 2)) / 2) * 100% / 3;
        }
      }
    }
  }
}
