.company-board {
  display: flex;

  .company-board-wrapper {
    width: 740px;
    height: 468px;
    background-image: url('img/company_boards.jpg');
    background-size: 200% 300%;
    position: relative;

    .company-owner {
    }

    .action-space-wrapper {
      position: absolute;
      top: 35px;
      height: 40px;
      background: rgba(255, 0, 0, 0.3);
      border-radius: 6px;

      &.construct-0 {
        width: 90px;
        left: 107px;
      }
      &.construct-1 {
        width: 127px;
        left: 209px;
      }
      &.construct-2 {
        width: 162px;
        left: 347px;
      }
      &.construct-3 {
        width: 162px;
        left: 537px;
      }
    }

    .structures-wrapper {
      position: absolute;
      left: 229px;
      height: 70px;
      width: 417px;
      //      background: rgba(255, 0, 0, 0.3);
      display: flex;

      .building-slot {
        width: 69px;
        height: 57px;
        //        background: rgba(0, 255, 0, 0.3);
        margin: 7px 7px 7px 7px;
        display: flex;
      }

      &.bases-wrapper {
        top: 110px;
      }

      &.elevations-wrapper {
        top: 190px;
      }

      &.conduits-wrapper {
        top: 271px;

        .building-slot {
          width: 43px;
          margin: 0px 20px 14px 20px;
        }
      }

      &.powerhouses-wrapper {
        top: 350px;

        .building-slot:nth-of-type(2) {
          margin: 7px 21px 7px 34px;
        }
        .building-slot:nth-of-type(3) {
          margin: 7px 34px 7px 21px;
        }
      }
    }
  }

  @for $i from 0 through 5 {
    &[data-company='#{$i + 1}'] .company-board-wrapper {
      background-position-x: ($i % 2) * 100%;
      background-position-y: (($i - ($i % 2)) / 2) * 100% / 2;
    }
  }

  .wheel-wrapper {
    width: 454px;
    height: 454px;
    background-image: url('img/construction_wheel.jpg');
    background-size: 100%;
    margin-top: 7px;
    margin-left: -80px;
    z-index: 2;
    clip-path: circle();

    .wheel {
      width: 360px;
      height: 360px;
      margin: 47px;
      position: relative;
      background-image: url('img/construction_wheel_inner.png');
      background-size: 100%;
      clip-path: circle();
      transform: rotate(0deg);
      transition: transform 1s;
      font-size: 20px;

      .wheel-sector {
        width: 173px;
        height: 180px;
        position: absolute;
        top: 0px;
        left: 94px;
        transform-origin: bottom center;

        @for $i from 2 to 7 {
          &:nth-of-type(#{$i}) {
            transform: rotate(($i - 1) * -60deg);
          }
        }

        .wheel-tile-slot {
          width: 173px;
          height: 60px;
          display: flex;
          justify-content: center;
        }

        .wheel-machineries-slots {
          display: grid;
          grid-template-rows: repeat(4, 20px);
          grid-template-columns: repeat(8, 11px);
          row-gap: 1px;
          width: 82px;
          margin: auto;
          position: relative;
          z-index: 2;

          .barrage-meeple {
            grid-column-end: span 2;

            &:nth-of-type(5) {
              grid-column-start: 2;
            }
            &:nth-of-type(8) {
              grid-column-start: 3;
            }
            &:nth-of-type(10) {
              grid-column-start: 4;
            }
          }
        }
      }
    }
  }
}
