:root {
    --barrageWorkScale: 0.9;
}

.dijitTooltipContainer {
    --barrageWorkScale: 1.3;
}

.barrage-work {
    width: calc(var(--barrageWorkScale) * 183px);
    height: calc(var(--barrageWorkScale) * 117px);
    position: relative;

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }

    &.selected .contract-fixed-size {
        border: 2px solid red;
    }

    .work-fixed-size {
        width: 183px;
        height: 117px;
        transform: scale(var(--barrageWorkScale));
        transform-origin: top left;
        box-sizing: border-box;
        margin: -2px -6px -6px -2px;
        border: 2px solid transparent;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        background: url("img/external_work_background.png");
        background-size: 100%;
        background-repeat: no-repeat;

        .work-cost,
        .work-reward {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            font-size: 22px;
        }

        .work-cost {
            font-size: 28px;
            .icon-container {
                margin: 0.1em 0.08em;
            }
        }

        .work-reward {
            .work-reward-row {
                margin: 10px 0px 2px;
            }

            .icon-credit {
                font-size: 1.4em;

                span {
                    font-size: 0.45em;
                    line-height: 1.4em;
                    color: white;
                    text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px, black -0.416147px 0.909297px 0px,
                        black -0.989993px 0.14112px 0px, black -0.653644px -0.756803px 0px,
                        black 0.283662px -0.958924px 0px, black 0.96017px -0.279416px 0px;
                }
            }
        }
    }
}
