.bgabutton .icon-container {
  font-size: 1.6em;
  vertical-align: bottom;
}

.action-board-icon,
.building-slot {
  .text {
    font-size: 0.9em;
    color: #8e1370;
    text-shadow: rgb(218, 148, 200) 1px 0px 0px, rgb(218, 148, 200) 0.540302px 0.841471px 0px,
      rgb(218, 148, 200) -0.416147px 0.909297px 0px, rgb(218, 148, 200) -0.989993px 0.14112px 0px,
      rgb(218, 148, 200) -0.653644px -0.756803px 0px, rgb(218, 148, 200) 0.283662px -0.958924px 0px,
      rgb(218, 148, 200) 0.96017px -0.279416px 0px;

    font-family: 'acumin-pro', serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    margin-top: -5px;
  }
}

.building-slot .text {
  background-image: url('img/icons/energy.png');
  background-size: auto 90%;
  display: inline-block;
  padding: 13px;
  background-position: center bottom;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1.3em;

  &.icon-container-arrow {
    margin: 0;
  }
}

.barrage-icon {
  background-size: 100%;

  span {
    font-family: 'acumin-pro', serif;
    font-weight: 700;
    font-style: normal;
  }

  &.icon-production {
    min-width: 0.8em;
    height: 0.8em;
    background-image: url('img/icons/production.png');
  }

  &.icon-construct {
    min-width: 1.1em;
    height: 0.8em;
    background-image: url('img/icons/construct.png');
  }

  &.icon-cost,
  &.icon-credit,
  &.icon-pay {
    min-width: 0.7137em;
    height: 0.8em;
    background-image: url('img/icons/cost.png');
    text-align: center;

    span {
      font-size: 0.5em;
      line-height: 1.3em;
      color: #d70f0f;
    }
  }
  &.icon-credit,
  &.icon-pay {
    min-width: 0.6125em;
    height: 0.7em;
    background-image: url('img/icons/credit.png');
  }

  &.icon-arrow {
    min-width: 0.6em;
    height: 0.456em;
    background-image: url('img/icons/arrow.png');
  }

  &.icon-credit,
  &.icon-water,
  &.icon-water_down,
  &.icon-rotate,
  &.icon-excavator_icon,
  &.icon-mixer_icon,
  &.icon-any_machine,
  &.icon-contract,
  &.icon-vp {
    span {
      color: white;
      text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px,
        rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
        rgb(0, 0, 0) 0.96017px -0.279416px 0px;
    }
  }

  &.icon-water {
    min-width: 0.5895em;
    height: 0.8em;
    background-image: url('img/icons/water.png');
    text-align: center;

    span {
      font-size: 0.5em;
      line-height: 1.9em;
    }
  }

  &.icon-water_down {
    min-width: 0.4769em;
    height: 0.9em;
    background-image: url('img/icons/water_down.png');
    text-align: center;

    span {
      font-size: 0.4em;
      line-height: 1.8em;
    }
  }

  &.icon-rotate {
    min-width: 0.8em;
    height: 0.8em;
    background-image: url('img/icons/rotate.png');
    text-align: right;

    span {
      font-size: 0.55em;
      line-height: 0.9em;
    }
  }

  &.icon-excavator_icon,
  &.icon-mixer_icon,
  &.icon-any_machine {
    min-width: 0.8em;
    height: 0.8em;
    background-image: url('img/icons/excavator.png');
    text-align: center;

    span {
      font-size: 0.5em;
      line-height: 1.8em;
    }
  }
  &.icon-mixer_icon {
    background-image: url('img/icons/mixer.png');
  }
  &.icon-any_machine {
    background-image: url('img/icons/excavator_mixer.png');
  }

  &.icon-contract {
    min-width: 1em;
    height: 0.68em;
    background-image: url('img/icons/contract.png');
    text-align: center;

    span {
      font-size: 0.5em;
      line-height: 1.5em;
    }
  }

  &.icon-vp {
    min-width: 0.9861em;
    height: 0.8em;
    background-image: url('img/icons/vp.png');
    text-align: center;

    span {
      font-size: 0.7em;
      line-height: 1em;
    }
  }

  &.icon-energy,
  &.icon-conduit_x {
    span {
      font-family: 'acumin-pro', serif;
      font-weight: 00;
      font-style: normal;
      color: #bb3f90;
      text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px, black -0.416147px 0.909297px 0px,
        black -0.989993px 0.14112px 0px, black -0.653644px -0.756803px 0px, black 0.283662px -0.958924px 0px,
        black 0.96017px -0.279416px 0px, white 0px 0px 8px;
    }
  }

  &.icon-energy {
    min-width: 0.8em;
    height: 0.8em;
    background-image: url('img/icons/energy.png');
    background-size: 102% auto;
    background-repeat: no-repeat;
    background-position: center 56%;
    text-align: center;

    span {
      font-size: 0.8em;
      line-height: 0.85em;

      &::after {
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 0.8em;
        background-image: url('img/icons/short_arrow.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin-left: -2px;
        margin-top: 2px;
        vertical-align: middle;
      }
    }
  }

  &.icon-conduit_x {
    min-width: 1em;
    height: 1.14em;
    background-image: url('img/icons/conduitX.png');

    span {
      font-size: 0.5em;
      line-height: 1.2em;
      margin-left: 0.25em;
    }
  }

  &.icon-powerhouse {
    min-width: 1em;
    height: 0.69em;
    background-image: url('img/icons/powerhouse.png');

    span {
      display: none;
    }
  }

  &.icon-elevation {
    min-width: 1em;
    height: 0.64em;
    background-image: url('img/icons/elevation.png');

    span {
      display: none;
    }
  }

  &.icon-base {
    min-width: 1em;
    height: 0.59em;
    background-image: url('img/icons/base.png');

    span {
      display: none;
    }
  }

  &.icon-base_plain_hill {
    min-width: 1.1em;
    height: 0.75em;
    background-image: url('img/icons/base_plain_hill.png');
  }

  &.icon-base_plain {
    min-width: 1.1em;
    height: 0.75em;
    background-image: url('img/icons/base_plain.png');
  }
}

//action-space-cost
