#pickStart-contracts {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pickStart-companies {
  --barrageCompanyBoardScale: 0.8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#barrage-container {
}


.barrage-frame {
  border: 3px solid #e1dede;
  border-radius: 6px;
  box-shadow: 2px 2px 5px black;

  body[data-background='0'] & {
    border: 3px solid #c8ba6a;
  }
}
#barrage-center-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#map-energy-wrapper {
  display: flex;
  flex-flow: column;
  margin-left: 20px;

  [data-energy-track='1'] & {
    flex-flow: row;
    #energy-track-board-container {
      order: 2;
    }

    #brg-map-resizable {
      order: 1;
    }
  }
}

@import 'layout.energyTrack';
@import 'layout.actionBoards';
