#pickStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#barrage-container {
}

/*
.barrage-frame {
  border: 5px solid transparent;
  border-image-slice: 89 89 89 89;
  border-image-width: 30px 30px 30px 30px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('img/frame.png');
}
*/

.barrage-frame {
  border: 3px solid #c8ba6a;
  border-radius: 6px;
  box-shadow: 2px 2px 5px black;
}

#energy-track-board {
  width: 1000px;
  height: 130px;
  background-image: url('img/background_board_energy.jpg');
  background-size: 100%;
  position: relative;
  [data-action-background='1'] & {
    background: #b0b3ba;
  }

  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;

  #energy-track-first-second-bonus {
    position: absolute;
    width: 40px;
    height: 75px;
    background-image: url('img/ui/energy_bonus.png');
    background-size: 100%;
    top: 10px;
    left: 24px;
  }

  .energy-track-portion {
    border: 6px solid black;
    display: flex;
    justify-content: center;
    padding-top: 5px;

    &:first-of-type {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .bonus-tile-slot {
        background-image: url('img/ui/no_bonus.png');
        margin-left: 30px;
      }
    }
    &:nth-of-type(6) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .bonus-tile-slot {
    width: 58px;
    height: 58px;
    background-image: url('img/ui/bonus_slot.png');
    background-size: 100% 100%;
    position: relative;

    .bonus-tile {
      width: 58px;
      height: 58px;
      background-image: url('img/bonus_tiles.jpg');
      background-size: 800% 100%;
      border-radius: 6px;
      box-shadow: 2px 2px 3px black;

      @for $i from 0 through 8 {
        &[data-id='#{$i}'] {
          background-position-x: $i * 100% / 7;
        }
      }
    }
  }

  #energy-track {
    position: absolute;
    bottom: 0;
    left: 7px;
    right: 10px;
    height: 35px;
    display: flex;
    background: linear-gradient(#eeeeee82 6%, transparent 1%) 1px 11px;
    background-size: 1px 35px;

    .energy-track-slot {
      width: 23px;
      height: 23px;
      margin: 0px 3px;
      border-radius: 50%;
      background: url('img/ui/texture.jpg');
      box-shadow: 0px 0px 7px -1px white;
      position: relative;

      &::before {
        content: attr(data-i);
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
        z-index: 0;

        font-family: 'acumin-pro', serif;
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        line-height: 21px;
        font-style: normal;
        color: #bb3f90;
      }

      .meeple-score {
        margin-top: -154%;
        position: relative;
        z-index: 2;
        margin-left: -3px;

        &:first-of-type {
          margin-top: 0;
        }
      }

      &:nth-of-type(6n + 1) {
        margin-left: 11px;
        &:first-of-type {
          margin-left: 0px;
        }

        //        text-shadow: black 1px 0px 0px, black 0.540302px 0.841471px 0px, black -0.416147px 0.909297px 0px,
        //          black -0.989993px 0.14112px 0px, black -0.653644px -0.756803px 0px, black 0.283662px -0.958924px 0px,
        //          black 0.96017px -0.279416px 0px, white 0px 0px 10px;
      }
    }
  }
}

#barrage-center-container {
  display: flex;
}

#action-boards-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: baseline;
  width: 357px;
}

#map-energy-wrapper {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

.action-board {
  margin-top: 20px;
  width: 350px;
  background-clip: content-box;
  background-size: cover;
  [data-action-name='1'] & {
    margin-top: 8px;
  }

  .action-board-name-container {
    display: flex;
    justify-content: center;
    margin-top: -17px;

    [data-action-name='1'] & {
      display: none;
    }

    .action-board-name {
      color: #dbc85d;
      background: #513c29;
      border-radius: 8px;
      font-size: 18px;
      padding: 3px 7px;
      box-shadow: 0px 2px 3px black;
      font-family: 'Betty Noir';
      text-transform: uppercase;
    }
  }

  &[data-id='turbine'] {
    background-image: url('img/background_board_turbine.jpg');
  }
  &[data-id='water'] {
    background-image: url('img/background_board_water.jpg');
  }
  &[data-id='bank'] {
    background-image: url('img/background_board_bank.jpg');
  }
  &[data-id='workshop'] {
    background-image: url('img/background_board_workshop.jpg');
  }
  &[data-id='machinery'] {
    background-image: url('img/background_board_machinery.jpg');
  }
  &[data-id='contract'] {
    background-image: url('img/background_board_contract.jpg');
  }

  [data-action-background='1'] & {
    &[data-id='turbine'] {
      background: #8a5789;
    }
    &[data-id='water'] {
      background: #57668a;
    }
    &[data-id='bank'] {
      background: #8a8957;
    }
    &[data-id='workshop'] {
      background: #7d7d7c;
    }
    &[data-id='machinery'] {
      background: #8a6f57;
    }
    &[data-id='contract'] {
      background: #75885d;
    }
  }

  .action-board-inner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 6px 10px 10px;
    row-gap: 5px;

    .action-board-row {
      display: flex;
      align-items: center;
      background: url('img/ui/texture.jpg');
      padding: 4px 2px 2px 4px;
      border-radius: 8px;
      box-shadow: 1px 2px 2px black, inset 1px 1px 2px #acaaaa;
    }

    .action-board-icon {
      width: 80px;
      height: 35px;
      margin: 0px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .help-marker {
        left: -2px;
        top: -2px;
      }
    }

    .action-space {
      display: flex;
      background: grey;
      padding: 3px;
      border-radius: 5px;
      column-gap: 3px;
      position: relative;
      &.paying {
        background: #d70f0f;
      }

      .action-space-cost {
        position: absolute;
        left: calc(100% - 4px);
        display: none;
      }

      .action-space-slot {
        background: url('img/ui/engineer_slot.png'), url('img/ui/texture.jpg');
        width: 34px;
        height: 30px;
        border-radius: 5px;
        background-size: auto 70%, 20px;
        background-repeat: no-repeat, repeat;
        background-position: center center;

        font-size: 39px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      &.selectable {
        cursor: pointer;
        .action-space-slot {
          background-image: url('img/ui/engineer_slot.png');
          background-size: auto 70%;
          background-repeat: no-repeat;
          background-position: center center;

          background-color: #364422;
        }

        &:hover .action-space-slot {
          background-color: #484848;
        }
      }
    }
  }

  &[data-id='machinery'] .action-board-inner .action-board-row {
    &:first-of-type {
      margin-right: 35px;
    }

    .action-board-icon {
      width: 120px;
      margin: 0px 8px;
    }
  }

  &[data-id='water'] {
    width: 200px;
    .action-board-inner {
      align-items: flex-start;
      margin: 6px 7px 10px;

      .action-board-row .action-board-icon {
        width: 37px;
      }
    }
  }

  &[data-id='bank'] {
    width: 140px;
    margin-left: 5px;

    .action-board-inner {
      margin: 8px 0px 7px;

      .action-board-row {
        #bank-b {
          width: 105px;
          height: 70px;
          background-image: url('img/ui/bank.png');
          background-color: transparent;
          background-size: 85%;
          background-repeat: no-repeat;
          background-position: center center;
          border: 4px solid gray;
          flex-wrap: wrap;

          &.selected {
            background-color: #1a6210;
          }
        }
      }
    }
  }

  &[data-id='contract'] .action-board-inner .action-board-row {
    &:nth-of-type(2) {
      margin-right: 35px;
    }

    .action-board-icon {
      width: 110px;
      margin: 0px 8px;
    }
  }
}

#brg-map {
  margin-top: 10px;
}
