:root {
  --barrageMapScale: 0.8;
}

#produce-energy-counter {
  background: white;
  border-radius: 6px;
  padding: 3px 5px;
  position: absolute;
  font-size: 32px;
  width: 45px;
  text-align: center;
  border: 2px solid #3f9bec;
}

#brg-map-resizable {
  [data-energy-track='0'] & {
    margin-top: 10px;
  }

  #brg-map {
    transform: scale(var(--barrageMapScale));
    transform-origin: top left;

    .barrage-meeple {
      display: inline-block;
    }

    .headstream {
      &.selectable {
        cursor: pointer;
      }

      &[data-n]::before {
        content: attr(data-n);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: red;
        color: white;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid white;
        font-family: 'acumin-pro', serif;
        font-weight: 800;
        font-style: normal;
        line-height: 31px;
      }
      &[data-n='0']::before {
        display: none;
      }
    }

    .basin {
      z-index: 3;
    }

    .dam-slot,
    .conduit-slot,
    .powerhouse-slot {
      z-index: 3;
      background: #d5d1e8;
      text-align: center;

      &.selectable {
        cursor: pointer;
        background: #ff000057;

        &:hover {
          background: #ff000090;
        }
      }

      &.selected {
        background: #35b710aa;
        border: 2px solid #227b09 !important;
        margin-top: -1px;
        margin-left: -1px;
        &.selectable:hover {
          background: #238806aa;
        }
      }
    }

    .dam-slot {
      background-image: url('img/icons/base.png');
      background-size: auto 50%;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .conduit-slot {
      z-index: 3;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      background-image: url('img/icons/conduit.png');
      background-size: auto 70%;
      background-position: center center;
      background-repeat: no-repeat;

      .meeple-droplet {
        position: absolute;
        top: 1%;
        left: 5%;

        &:nth-of-type(2) {
          left: 20%;
        }
        &:nth-of-type(3) {
          left: 45%;
        }
        &:nth-of-type(4) {
          left: 60%;
        }
        &:nth-of-type(5) {
          left: 75%;
        }
      }
    }

    .powerhouse-slot {
      display: flex;
      align-items: end;
      justify-content: center;
      background-image: url('img/icons/powerhouse.png');
      background-size: auto 70%;
      background-position: center center;
      background-repeat: no-repeat;

      &.producing::after {
        content: '';
        position: absolute;
        left: calc(50% - 20px);
        top: 50%;
        width: 40px;
        height: 40px;
        background-image: url('img/icons/production.png');
        background-size: 80%;
        background-position: 4px 2px;
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
        animation-name: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background-repeat: no-repeat;

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(720deg);
          }
        }
      }

      .meeple-droplet {
        position: absolute;
        top: 1%;
        left: 20%;

        &:nth-of-type(2) {
          left: 30%;
        }
        &:nth-of-type(3) {
          left: 40%;
        }
        &:nth-of-type(4) {
          left: 50%;
        }
        &:nth-of-type(5) {
          left: 60%;
        }
      }
    }
  }
}

@import 'map.base';
