.test {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
}

:root {
  --barrageMapScale: 0.6;
  --barrageMapOverlay: 0.5;
}

.barrage-svg-overlay {
  display: none;

  path {
    fill: none;
  }

  .rivier {
    stroke: none;
  }
}

.dijitTooltipContainer {
  .headstream-tile {
    width: 203px;
    height: 122px;
    background: url('img/headstreams.png');
    background-size: 200% 400%;

    @for $i from 0 through 8 {
      &[data-tile='#{$i + 1}'] {
        background-position-x: ($i % 2) * 100%;
        background-position-y: (($i - ($i % 2)) / 2) * 100% / 3;
      }
    }

    .headstream-tile-droplets {
      display: none;
    }
  }
}

#produce-energy-counter {
  background: white;
  border-radius: 6px;
  padding: 3px 5px;
  position: absolute;
  font-size: 32px;
  width: 45px;
  text-align: center;
  border: 2px solid #3f9bec;
}

#map-wrapper {
  margin-left: 15px;
  [data-action-name='0'] & {
    margin-top: 20px;
  }
}

#brg-map-resizable {
  #brg-map {
    transform: scale(var(--barrageMapScale));
    transform-origin: top left;
    position: relative;

    // White overlay
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      z-index: 1;
      pointer-events: none;
      opacity: var(--barrageMapOverlay);
      [data-map='0'] & {
        display: none;
      }
    }

    // SVG with conduit
    .barrage-svg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      [data-map='1'] & {
        display: block;
      }

      path.highlight {
        stroke: black;
        stroke-width: 20px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: 100%;
      z-index: 2;
      pointer-events: none;
      [data-map='0'] & {
        display: none;
      }
    }

    #brg-zone-overlay {
      [data-separators='0'] & {
        display: none;
      }
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: 100%;
      z-index: 1;
      pointer-events: none;

      div {
        border-bottom: 3px dashed black;
      }
    }

    .barrage-meeple {
      display: inline-block;
    }

    .headstream {
      z-index: 4;
      width: 203px;
      height: 122px;
      position: absolute;
      top: 9px;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .meeple-droplet {
        margin-right: -3%;
      }

      .headstream-tile {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url('img/headstreams.png');
        background-size: 200% 400%;

        @for $i from 0 through 8 {
          &[data-tile='#{$i + 1}'] {
            background-position-x: ($i % 2) * 100%;
            background-position-y: (($i - ($i % 2)) / 2) * 100% / 3;
          }
        }

        .headstream-tile-droplets {
          [data-headstream='0'] & {
            display: none;
          }

          margin: 8px;
          height: 40px;
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          color: white;
          border-radius: 13px;
          background: url('img/ui/texture.jpg');
          font-family: 'acumin-pro';
          font-weight: 700;

          @for $i from 1 through 4 {
            #ebd-body[data-round='#{$i}'] & {
              @for $j from 1 through $i {
                span:nth-child(#{$j}) {
                  color: #979393;
                }
              }
            }
          }
        }
      }

      &.selectable {
        cursor: pointer;
      }

      &[data-n]::before {
        content: attr(data-n);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: red;
        color: white;
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid white;
        font-family: 'acumin-pro', serif;
        font-weight: 800;
        font-style: normal;
        line-height: 31px;
      }
      &[data-n='0']::before {
        display: none;
      }
    }

    // All the slots should be over the overlay
    .basin {
      z-index: 4;
    }

    .dam-slot,
    .conduit-slot,
    .powerhouse-slot {
      z-index: 4;
      background: #d5d1e8;
      text-align: center;
      [data-map='0'] & {
        background: transparent;
      }

      &.selectable {
        cursor: pointer;
        background-color: #ff000020;
        box-shadow: 0px 0px 9px 6px #f00c;

        &:hover {
          background-color: #ff000090;
        }
      }

      &.selected {
        background: #35b710aa;
        border: 2px solid #227b09 !important;
        box-shadow: 0px 0px 7px 5px #227b09;
        margin-top: -1px;
        margin-left: -1px;
        &.selectable:hover {
          background-color: #238806aa;
        }
      }
    }

    .conduit-slot {
      width: 47px;
      height: 47px;
      position: absolute;
      border-radius: 50%;
      border: 1px solid white;
      z-index: 4;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &.highlight {
        background-color: #a4e841;
        border: 1px solid black;
        [data-map='0'] & {
          background-color: #a4e841aa;
        }
      }

      [data-map='1'] & {
        background-image: url('img/icons/conduit.png');
        background-size: auto 70%;
        background-position: center center;
        background-repeat: no-repeat;
      }

      [data-map='1'][data-conduit='1'] &::before {
        content: attr(data-production);
        display: block;
        position: absolute;
        width: 33px;
        height: 66px;
        background: url('img/icons/conduit_value.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        font-family: 'acumin-pro', serif;
        font-weight: 800;
        font-style: normal;
        color: #bb3f90;
        font-size: 31px;
        line-height: 34px;
        top: -69px;
      }

      .meeple-droplet {
        position: absolute;
        top: 1%;
        left: 5%;

        &:nth-of-type(2) {
          left: 20%;
        }
        &:nth-of-type(3) {
          left: 45%;
        }
        &:nth-of-type(4) {
          left: 60%;
        }
        &:nth-of-type(5) {
          left: 75%;
        }
      }
    }

    .powerhouse-slot {
      width: 73px;
      height: 32px;
      position: absolute;
      border-radius: 8px;
      border: 1px solid white;
      &.highlight {
        background-color: #a4e841;
        border: 1px solid black;
        [data-map='0'] & {
          background-color: #a4e841aa;
        }
      }
      &.paying {
        border: 1px solid red;
      }

      display: flex;
      align-items: end;
      justify-content: center;

      [data-map='1'] & {
        background-image: url('img/icons/powerhouse.png');
        background-size: auto 70%;
        background-position: center center;
        background-repeat: no-repeat;
        &.paying {
          background-image: url('img/icons/powerhouse_paying.png');
        }
      }

      // Producing animation
      &.producing::after {
        content: '';
        position: absolute;
        left: calc(50% - 20px);
        top: 50%;
        width: 40px;
        height: 40px;
        background-image: url('img/icons/production.png');
        background-size: 80%;
        background-position: 4px 2px;
        background-color: white;
        border: 1px solid black;
        border-radius: 50%;
        animation-name: rotate;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        background-repeat: no-repeat;

        @keyframes rotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(720deg);
          }
        }
      }

      .meeple-droplet {
        position: absolute;
        top: 1%;
        left: 20%;

        &:nth-of-type(2) {
          left: 30%;
        }
        &:nth-of-type(3) {
          left: 40%;
        }
        &:nth-of-type(4) {
          left: 50%;
        }
        &:nth-of-type(5) {
          left: 60%;
        }
      }
    }

    .dam-slot {
      width: 73px;
      height: 59px;
      position: absolute;
      border-radius: 8px;
      border: 1px solid white;
      display: flex;
      flex-flow: column;
      align-items: center;

      &.paying {
        border: 1px solid red;
      }

      [data-map='1'] & {
        background-image: url('img/icons/base.png');
        background-size: auto 50%;
        background-position: center center;
        background-repeat: no-repeat;

        &.paying {
          background-image: url('img/icons/base_paying.png');
        }
      }

      .meeple-base {
        order: 1;
      }

      .meeple-elevation {
        order: 2;
        margin-top: -104%;
        // &:nth-of-type(3) {
        //   margin-top: -140%;
        // }
      }
    }

    .basin {
      width: 150px;
      height: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
    }

    .powerhouse-zone {
      position: absolute;
      width: 172px;
      height: 89px;
      background: #919191;
      border-radius: 7px;
      border: 1px solid black;
      z-index: 3;
      visibility: hidden;

      &.highlight {
        background: white;
      }
    }

    [data-map='1'] & {
      .powerhouse-zone {
        visibility: visible;
      }

      .basin-zone {
        position: absolute;
        width: 134px;
        height: 118px;
        border-radius: 13px;
        border: 10px solid #444;
        z-index: 3;
      }
    }

    .rivier-exit {
      width: 150px;
      height: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      z-index: 3;
    }
  }
}

@import 'map.base';
