#game_play_area {
  font-size: 30px;
}

.meeple-container {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1.3em;
}

.bgabutton .meeple-container {
  margin: 0;
  .barrage-meeple {
    margin: 0 !important;
  }
}

.barrage-meeple {
  background-image: url("img/meeples.png");
  background-repeat: no-repeat;

  &.meeple-fcontract {
    min-width: 1.5em;
    height: 1.02em;
    background-image: url("img/icons/fcontract.png");
    background-size: cover;
  }
  &.meeple-fextwork {
    min-width: 1.53em;
    height: 1.02em;
    background-image: url("img/icons/fextwork.png");
    background-size: cover;
  }

  &.meeple-credit {
    width: 0.9662em;
    height: 1em;
    margin-right: -0.0772em;
    margin-bottom: -0.08em;
    background-position: 37.69230769230769% 22.185430463576157%;
    background-size: 898.2456140350877%;
  }

  &.meeple-excavator {
    width: 1.1526em;
    height: 1.2289em;
    margin-right: -0.0922em;
    margin-bottom: -0.0983em;
    background-position: 28.490990990990987% 2.2753128555176336%;
    background-size: 752.9411764705882%;
  }

  &.meeple-mixer {
    width: 0.7797em;
    height: 1.2034em;
    margin-right: -0.0623em;
    margin-bottom: -0.0962em;
    background-position: 43.88412017167382% 2.2675736961451247%;
    background-size: 1113.0434782608695%;
  }

  &.meeple-droplet {
    width: 1.3867em;
    height: 1.6134em;
    margin-right: -0.1109em;
    margin-bottom: -0.129em;
    background-position: 2.1739130434782608% 22.259136212624583%;
    background-size: 984.6153846153846%;

    &.moving {
      transform: scale(var(--barrageMapScale));
    }
  }

  &.meeple-architect {
    width: 0.9492em;
    height: 1.3645em;
    margin-right: -0.0759em;
    margin-bottom: -0.1091em;
    background-position: 2.1929824561403506% 2.317497103128621%;
    background-size: 914.2857142857142%;
  }

  &.meeple-engineer[data-company="1"] {
    width: 0.6865em;
    height: 1.1441em;
    margin-right: -0.0549em;
    margin-bottom: -0.0915em;
    background-position: 87.48674443266172% 2.249718785151856%;
    background-size: 1264.1975308641975%;
  }

  &.meeple-engineer[data-company="2"] {
    width: 0.695em;
    height: 1.195em;
    margin-right: -0.0555em;
    margin-bottom: -0.0955em;
    background-position: 55.30785562632696% 2.2650056625141564%;
    background-size: 1248.780487804878%;
  }

  &.meeple-engineer[data-company="3"] {
    width: 0.695em;
    height: 1.1865em;
    margin-right: -0.0555em;
    margin-bottom: -0.0949em;
    background-position: 66.13588110403397% 2.262443438914027%;
    background-size: 1248.780487804878%;
  }

  &.meeple-engineer[data-company="4"] {
    width: 0.6865em;
    height: 1.2373em;
    margin-right: -0.0549em;
    margin-bottom: -0.0989em;
    background-position: 16.118769883351007% 2.277904328018223%;
    background-size: 1264.1975308641975%;
  }

  &.meeple-engineer[data-company="5"] {
    width: 0.678em;
    height: 1.1611em;
    margin-right: -0.0542em;
    margin-bottom: -0.0928em;
    background-position: 76.80084745762711% 2.254791431792559%;
    background-size: 1280%;
  }

  &.meeple-base[data-company="0"] {
    width: 2.4151em;
    height: 2.1133em;
    margin-right: -0.1932em;
    margin-bottom: -0.169em;
    background-position: 81.13839285714286% 22.039473684210524%;
    background-size: 800%;
  }

  &.meeple-base[data-company="1"] {
    width: 2.4151em;
    height: 2.1133em;
    margin-right: -0.1932em;
    margin-bottom: -0.169em;
    background-position: 97.65625% 22.039473684210524%;
    background-size: 800%;
  }

  &.meeple-base[data-company="2"] {
    width: 2.4151em;
    height: 2.1133em;
    margin-right: -0.1932em;
    margin-bottom: -0.169em;
    background-position: 2.232142857142857% 37.5%;
    background-size: 800%;
  }

  &.meeple-base[data-company="3"] {
    width: 2.4151em;
    height: 2.1133em;
    margin-right: -0.1932em;
    margin-bottom: -0.169em;
    background-position: 18.75% 37.5%;
    background-size: 800%;
  }

  &.meeple-base[data-company="4"] {
    width: 2.4151em;
    height: 2.1133em;
    margin-right: -0.1932em;
    margin-bottom: -0.169em;
    background-position: 35.267857142857146% 37.5%;
    background-size: 800%;
  }

  &.meeple-base[data-company="5"] {
    width: 2.434em;
    height: 2.151em;
    margin-right: -0.1947em;
    margin-bottom: -0.172em;
    background-position: 64.58100558659218% 22.087912087912088%;
    background-size: 793.7984496124031%;
  }

  &.meeple-elevation[data-company="0"] {
    width: 2.4529em;
    height: 1.868em;
    margin-right: -0.1962em;
    margin-bottom: -0.1494em;
    background-position: 65.77181208053692% 65.29729729729729%;
    background-size: 787.6923076923077%;
  }

  &.meeple-elevation[data-company="1"] {
    width: 2.3963em;
    height: 1.868em;
    margin-right: -0.1916em;
    margin-bottom: -0.1494em;
    background-position: 82.2742474916388% 65.29729729729729%;
    background-size: 806.2992125984251%;
  }

  &.meeple-elevation[data-company="2"] {
    width: 2.434em;
    height: 1.8302em;
    margin-right: -0.1947em;
    margin-bottom: -0.1464em;
    background-position: 35.865921787709496% 78.20927723840344%;
    background-size: 793.7984496124031%;
  }

  &.meeple-elevation[data-company="3"] {
    width: 2.434em;
    height: 1.8302em;
    margin-right: -0.1947em;
    margin-bottom: -0.1464em;
    background-position: 52.513966480446925% 78.20927723840344%;
    background-size: 793.7984496124031%;
  }

  &.meeple-elevation[data-company="4"] {
    width: 2.3963em;
    height: 1.7736em;
    margin-right: -0.1916em;
    margin-bottom: -0.1418em;
    background-position: 69.00780379041248% 77.95698924731182%;
    background-size: 806.2992125984251%;
  }

  &.meeple-elevation[data-company="5"] {
    width: 2.434em;
    height: 1.8491em;
    margin-right: -0.1947em;
    margin-bottom: -0.1479em;
    background-position: 19.217877094972067% 78.29373650107992%;
    background-size: 793.7984496124031%;
  }

  &.meeple-conduit[data-company="1"] {
    width: 1.5284em;
    height: 2.1699em;
    margin-right: -0.1222em;
    margin-bottom: -0.1735em;
    background-position: 50.58324496288441% 22.112211221122113%;
    background-size: 1264.1975308641975%;
  }

  &.meeple-conduit[data-company="2"] {
    width: 1.4529em;
    height: 2.0944em;
    margin-right: -0.1162em;
    margin-bottom: -0.1675em;
    background-position: 97.78247096092925% 2.190580503833516%;
    background-size: 1329.8701298701299%;
  }

  &.meeple-conduit[data-company="3"] {
    width: 1.4906em;
    height: 2.2265em;
    margin-right: -0.1192em;
    margin-bottom: -0.1781em;
    background-position: 15.238095238095239% 22.185430463576157%;
    background-size: 1296.2025316455697%;
  }

  &.meeple-conduit[data-company="4"] {
    width: 1.3774em;
    height: 2.0944em;
    margin-right: -0.1101em;
    margin-bottom: -0.1675em;
    background-position: 48.79074658254469% 37.458926615553125%;
    background-size: 1402.7397260273972%;
  }

  &.meeple-conduit[data-company="5"] {
    width: 1.5095em;
    height: 2.2265em;
    margin-right: -0.1207em;
    margin-bottom: -0.1781em;
    background-position: 25.741525423728813% 22.185430463576157%;
    background-size: 1280%;
  }

  &.meeple-powerhouse[data-company="1"] {
    width: 2.4906em;
    height: 1.8868em;
    margin-right: -0.1992em;
    margin-bottom: -0.1509em;
    background-position: 19.394618834080717% 65.36796536796537%;
    background-size: 775.7575757575758%;
  }

  &.meeple-powerhouse[data-company="2"] {
    width: 2.5095em;
    height: 1.9057em;
    margin-right: -0.2007em;
    margin-bottom: -0.1524em;
    background-position: 2.244668911335578% 65.43878656554712%;
    background-size: 769.9248120300751%;
  }

  &.meeple-powerhouse[data-company="3"] {
    width: 2.4906em;
    height: 1.868em;
    margin-right: -0.1992em;
    margin-bottom: -0.1494em;
    background-position: 2.242152466367713% 78.37837837837837%;
    background-size: 775.7575757575758%;
  }

  &.meeple-powerhouse[data-company="4"] {
    width: 2.4906em;
    height: 1.8868em;
    margin-right: -0.1992em;
    margin-bottom: -0.1509em;
    background-position: 36.43497757847533% 65.36796536796537%;
    background-size: 775.7575757575758%;
  }

  &.meeple-powerhouse[data-company="5"] {
    width: 2.151em;
    height: 1.6416em;
    margin-right: -0.172em;
    margin-bottom: -0.1313em;
    background-position: 14.395604395604394% 90.07470651013874%;
    background-size: 898.2456140350877%;
  }

  &.meeple-building[data-company="1"] {
    width: 1.717em;
    height: 1.868em;
    margin-right: -0.1373em;
    margin-bottom: -0.1494em;
    background-position: 51.12540192926045% 65.29729729729729%;
    background-size: 1125.2747252747254%;
  }

  &.meeple-building[data-company="2"] {
    width: 1.717em;
    height: 1.7548em;
    margin-right: -0.1373em;
    margin-bottom: -0.1403em;
    background-position: 82.10075026795283% 77.87325456498388%;
    background-size: 1125.2747252747254%;
  }

  &.meeple-building[data-company="3"] {
    width: 1.717em;
    height: 1.717em;
    margin-right: -0.1373em;
    margin-bottom: -0.1373em;
    background-position: 2.1436227224008575% 90.46087888531619%;
    background-size: 1125.2747252747254%;
  }

  &.meeple-building[data-company="4"] {
    width: 1.6982em;
    height: 1.7359em;
    margin-right: -0.1358em;
    margin-bottom: -0.1388em;
    background-position: 93.89721627408993% 77.78969957081546%;
    background-size: 1137.7777777777778%;
  }

  &.meeple-building[data-company="5"] {
    width: 1.7548em;
    height: 1.7736em;
    margin-right: -0.1403em;
    margin-bottom: -0.1418em;
    background-position: 95.05907626208379% 64.94623655913978%;
    background-size: 1101.0752688172045%;
  }

  &.meeple-score[data-company="1"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 61.75166297117517% 37.41794310722101%;
    background-size: 839.344262295082%;
  }

  &.meeple-score[data-company="2"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 77.49445676274944% 37.41794310722101%;
    background-size: 839.344262295082%;
  }

  &.meeple-score[data-company="3"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 93.23725055432372% 37.41794310722101%;
    background-size: 839.344262295082%;
  }

  &.meeple-score[data-company="4"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 2.2172949002217295% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score[data-company="5"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 17.96008869179601% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score_more[data-company="1"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 33.70288248337029% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score_more[data-company="2"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 49.44567627494457% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score_more[data-company="3"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 65.18847006651885% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score_more[data-company="4"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 80.93126385809313% 51.85995623632385%;
    background-size: 839.344262295082%;
  }

  &.meeple-score_more[data-company="5"] {
    width: 1.0167em;
    height: 0.9167em;
    margin-right: -0.0813em;
    margin-bottom: -0.0733em;
    background-position: 96.67405764966742% 51.85995623632385%;
    background-size: 839.344262295082%;
  }
}

[data-altfr="1"] .barrage-meeple[data-company="4"] {
  &.meeple-engineer,
  &.meeple-base,
  &.meeple-elevation,
  &.meeple-conduit,
  &.meeple-powerhouse,
  &.meeple-score {
    background-image: url("img/alt-fr/meeples.png");
    background-repeat: no-repeat;
  }

  &.meeple-engineer {
    background-position: 0% 0%;
    background-size: 632.099%;
  }

  &.meeple-base {
    background-position: 21.0938% 0%;
    background-size: 400%;
  }

  &.meeple-elevation {
    background-position: 65.974% 90.1235%;
    background-size: 403.15%;
  }

  &.meeple-conduit {
    background-position: 47.6082% 0%;
    background-size: 701.37%;
  }

  &.meeple-powerhouse {
    background-position: 32.1053% 93.5897%;
    background-size: 387.879%;
  }

  &.meeple-score {
    background-position: 72.3077% 0%;
    background-size: 419.672%;
  }
  &.meeple-score[data-flip="1"] {
    background-position: 0% 100%;
    background-size: 419.672%;
  }

  // LWP
  &.meeple-building {
    background-position: 95.7346% 0%;
    background-size: 568.889%;
  }
}
