#popin_companyBoards_underlay {
  background-color: black !important;
  opacity: 0.6;
}
#popin_companyBoards_wrapper {
  position: fixed !important;
}
#popin_companyBoards_close {
  display: none;
}

#modal-company-boards-wrapper {
  position: relative;
  width: calc(var(--barrageCompanyBoardScale) * 1150px);
  height: calc(var(--barrageCompanyBoardScale) * 468px);

  #modal-company-buttons {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    top: -38px;
    .company-board-button {
      margin: 0px 5px;
      cursor: pointer;
      transform: translateY(0);
      transition: transform 0.4s;
      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  #modal-company-slider {
    width: 100%;
    height: 100%;
    margin-top: calc(-1 * var(--barrageCompanyBoardScale) * 12px);
    padding-top: calc(var(--barrageCompanyBoardScale) * 12px);
    overflow: hidden;

    #modal-company-boards-container {
      display: flex;
      .company-board {
        margin: 0;
        font-size: 30px;
        display: none;
      }
    }
  }

  @for $i from 1 through 6 {
    &[data-open="#{$i}"] {
      #modal-company-buttons .company-board-button[data-company="#{$i}"] {
        background: #e6e7e9;
        transform: translateY(-10px);
        color: black;
        &:hover {
          font-size: 32px;
        }
      }

      #modal-company-boards-container .company-board#company-board-#{$i} {
        display: block;
      }
    }
  }
}

.barrageContracts_popin,
.barrageTour_popin,
.barrageAuction_popin {
  background-color: #ebd5bd;
  border-radius: 8px;
  box-shadow: 0 3px 8px black;
  position: relative;
  min-width: 500px;

  .barrageContracts_popin_closeicon,
  .barrageTour_popin_closeicon,
  .barrageAuction_popin_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  h2 {
    font-family: "Oranienbaum";
    text-align: center;
    font-size: 23px;
    margin: 0px;
    background: #b79570;
    border-radius: 8px 8px 0px 0px;
    padding: 7px 0px;
    border-bottom: 1px solid #734f2a;
  }

  .reserve {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}

#popin_showTour {
  width: auto;

  #tour-slider-container {
    margin-bottom: 15px;

    .slide {
      width: 500px;
      padding: 10px 15px;
      box-sizing: border-box;

      .bubble {
        position: relative;
        margin: 5px 20px 30px 0px;
        background: white;
        border: 3px solid #b6479a;
        border-radius: 13px;
        padding: 2px;
        .bubble-inner {
          border: 1px solid #b6479a;
          border-radius: 10px;
          padding: 2px;

          .bubble-content {
            border: 1px solid #b6479a;
            border-radius: 10px;
            padding: 4px 8px;
          }
        }

        &::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 54px;
          bottom: -29px;
          right: -25px;
          background-image: url("img/help/tesla.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      &.inactive {
        display: none;
      }

      div.split-hor {
        display: flex;

        &.centered {
          align-items: center;
        }
      }

      ul {
        padding-left: 25px;
        li {
          list-style-type: disc;
          margin-bottom: 4px;
        }
      }

      .tour-btn {
        text-align: right;
        button {
          width: auto;
          margin-bottom: 0px;
        }
      }

      .tour-remark {
        font-style: italic;
        background: rgba(255, 255, 255, 0.4);
        padding: 4px 7px;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: 15px;
      }

      .tour-img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 5px 10px;

        &#img-panelInfo {
          width: 241px;
          height: 180px;
          background-image: url("img/help/panel-info.png");
        }

        &#img-screenshot-1 {
          width: 600px;
          height: 271px;
          background-image: url("img/help/screenshot-1.jpg");
          border: 1px solid black;
          border-radius: 8px;
          margin: 10px auto 10px;
        }

        &#img-screenshot-2 {
          width: 600px;
          height: 271px;
          background-image: url("img/help/screenshot-2.jpg");
          border: 1px solid black;
          border-radius: 8px;
          margin: 5px auto;
        }

        &#img-screenshot-3 {
          width: 500px;
          height: 247px;
          background-image: url("img/help/screenshot-3.jpg");
          border: 1px solid black;
          border-radius: 8px;
        }

        &#img-screenshot-4 {
          width: 185px;
          height: 247px;
          background-image: url("img/help/screenshot-4.jpg");
          border: 1px solid black;
          border-radius: 8px;
        }

        &#img-player-panel {
          width: 300px;
          height: 350px;
          background-image: url("img/help/player-panel.png");
          margin: 0px auto 10px;
        }

        &#img-company-board {
          width: 600px;
          height: 262px;
          background-image: url("img/help/company-board.jpg");
          border: 1px solid black;
          border-radius: 8px;
          margin: 5px auto 15px;
        }
      }

      &#tour-slide-intro {
        button {
          width: auto;
          display: block;
        }
      }

      &#tour-slide-panelInfo {
        width: 700px;
      }
      &#tour-slide-settings {
        width: 760px;

        .tour-btn {
          text-align: center;
          margin-top: -30px;
        }
      }
      &#tour-slide-playerPanel {
        width: 700px;
      }
      &#tour-slide-companyBoard {
        width: 700px;
      }
    }
  }

  #tour-slide-footer {
    min-height: 30px;
    background-color: #e6e6e6d1;
    border-top: 1px solid #6a4b2f;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-align: right;
    padding: 7px 15px 0px;
  }
}

#popin_auction {
  #auction {
    width: 100%;
    border-collapse: collapse;

    td {
      border: 1px solid black;
      padding: 2px 1px;
      vertical-align: middle;
      .bet {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid black;
        box-shadow: 1px 1px 3px -1px black;
        margin: auto;
      }

      &:first-of-type {
        text-align: center;
        font-weight: bold;
        padding: 2px 5px;
      }

      &.selectable {
        cursor: pointer;

        &:hover {
          background: rgba(255, 0, 0, 0.425);
        }
      }

      &.selected,
      &.selected:hover {
        background: rgba(0, 128, 0, 0.685);
      }
    }
  }

  #auction-footer {
    min-height: 30px;
    background-color: #e6e6e6d1;
    border-top: 1px solid #6a4b2f;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    text-align: right;
    padding: 7px 15px 0px;

    &:empty {
      display: none;
    }
  }
}
