.avatar.automa {
  background-image: url('img/companies.jpg');
  background-size: 600% 100%;
}

.player-board {
  overflow: hidden; // Used for contract slideout animation
}

.player_panel_content {
  --barrageContractScale: 0.52;
  --barrageTileScale: 0.23;

  .company-info {
    display: flex;

    .company-no {
      background-image: url('img/ui/turn_order.png');
      width: 50px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 20px;
      font-family: serif;
      margin-right: 5px;
    }

    .company-logo {
      position: relative;
      width: 40px;
      height: 40px;
      background-image: url('img/companies.jpg');
      background-size: 600% 100%;
      border: 2px solid black;
      border-radius: 50%;
      margin-right: 5px;

      @for $i from 1 through 6 {
        &[data-company='#{$i}'] {
          background-position-x: $i * 100% / 5;
        }
      }
    }

    .officer-logo {
      position: relative;
      width: 40px;
      height: 40px;
      background-image: url('img/executive_officers.jpg');
      background-size: 500% 300%;
      border: 2px solid black;
      border-radius: 50%;

      @for $i from 0 through 15 {
        &[data-officer='#{$i + 1}'] {
          background-position-x: ($i % 5) * 100% / 4;
          background-position-y: (($i - ($i % 5)) / 5) * 100% / 2;
        }
      }
    }

    .company-name {
      font-family: 'Oranienbaum';
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .company-panel-resources {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;

    .company-reserve {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;

      .barrage-meeple:not(.moving) {
        display: none;
      }
    }

    .company-resource {
      margin: 4px 0px;
      position: relative;
      flex-basis: 25%;
      text-align: center;

      .reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        & > div.barrage-meeple:not(.moving) {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }

  .company-panel-contracts {
    display: flex;
    flex-wrap: wrap;

    .company-fulfilled-contracts {
      visibility: hidden;
      .barrage-contract {
        position: absolute;
      }
    }
  }

  .company-panel-tech-tiles {
    display: flex;
    flex-wrap: wrap;
  }

  .company-panel-personal-resources {
    display: flex;
    flex-wrap: wrap;
    font-size: 7px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;
    border-top: 1px solid #999898;
    border-bottom: 1px solid #999898;

    span {
      font-size: 18px;
      &::before {
        content: '5';
      }
    }

    .meeple-container {
      margin-top: -0.7em;
    }
  }

  .company-panel-wheel-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

    .company-wheel-logo {
      width: 40px;
      height: 80px;
      background: black;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    .company-wheel {
      display: flex;
      flex-flow: column;
      margin-left: 20px;

      .wheel-slot {
        width: 160px;
        height: 20px;
        border: 1px solid black;
      }
    }
  }
}
