.avatar.automa {
  background-image: url('img/companies.jpg');
  background-size: 600% 100%;
}

.player_panel_content {
  .company-info {
    display: flex;

    .company-logo {
      width: 40px;
      height: 40px;
      background-image: url('img/companies.jpg');
      background-size: 600% 100%;
      border: 2px solid black;
      border-radius: 50%;

      @for $i from 1 through 6 {
        &[data-company='#{$i}'] {
          background-position-x: $i * 100% / 5;
        }
      }
    }

    .company-name {
      font-family: 'Oranienbaum';
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .company-panel-resources {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0.5rem 0;

    .company-reserve {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;

      .barrage-meeple:not(.moving) {
        display: none;
      }
    }

    .company-resource {
      margin: 4px 0px;
      position: relative;
      flex-basis: 25%;
      text-align: center;

      .reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        & > div.barrage-meeple:not(.moving) {
          display: none;
        }
      }
    }
  }
}
