#player_boards {
  display: flex;
  flex-flow: column;
  .mobile_version & {
    flex-flow: row;
    flex-wrap: wrap;

    .player-board {
      float: none;
    }
  }

  #player_board_config {
    order: 1;
  }

  .player-board {
    overflow: hidden; // Used for contract slideout animation
    order: 6;

    [data-altfr='1'] & #player_board_inner_ffffff .player-name a {
      color: #922297 !important;
    }
  }
}

.player_panel_content {
  position: initial;
}

.avatar.automa {
  background-image: url('img/companies.jpg');
  background-size: 600% 100%;
}

.barrage-energy-counter {
  color: #bb3f90;
}

.player_panel_content {
  --barrageContractScale: 0.52;
  --barrageTileScale: 0.23;
  margin-top: 2px;

  .company-jump-to {
    display: block;
    width: 50px;
    height: 21px;
    background: url('img/ui/eye.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 36px;
    top: 0px;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .company-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;

    .company-no {
      background-image: url('img/ui/turn_order.png');
      width: 44px;
      height: 41px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 19px;
      font-family: serif;
    }

    .company-logo {
      position: relative;
      width: 37px;
      height: 37px;
      background-image: url('img/companies.jpg');
      background-size: 600% 100%;
      border: 2px solid black;
      border-radius: 50%;
      .help-marker {
        top: -8px;
        left: -8px;
      }

      @for $i from 1 through 6 {
        &[data-company='#{$i}'] {
          background-position-x: $i * 100% / 5;
        }
      }

      [data-altfr='1'] & {
        border-color: #95149b !important;
      }
    }

    .officer-logo {
      position: relative;
      width: 37px;
      height: 37px;
      background-color: #e6e7e9;
      background-image: url('img/executive_officers.png');
      background-size: 500% 300%;
      border: 2px solid black;
      border-radius: 50%;
      .help-marker {
        top: -8px;
        left: -8px;
      }

      @for $i from 0 through 15 {
        &[data-officer='#{$i + 1}'] {
          background-position-x: ($i % 5) * 100% / 4;
          background-position-y: (($i - ($i % 5)) / 5) * 100% / 2;
        }
      }
    }

    .company-round-bonus {
      position: relative;
      width: 35px;
      height: 35px;
      background-image: url('img/ui/texture_light.jpg');
      border-radius: 3px;
      box-shadow: 2px 2px 3px -1px black;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      .help-marker {
        top: -8px;
        left: -8px;
      }

      text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px,
        rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
        rgb(0, 0, 0) 0.96017px -0.279416px 0px;

      &[data-value]::before {
        content: attr(data-value);
        display: inline-block;
        width: 32px;
        height: 28px;
        background: url('img/icons/vp.png');
        background-size: 100%;
        color: white;
        font-family: 'acumin-pro', serif;
        font-size: 21px;
        line-height: 21px;
        text-align: center;
      }

      &[data-value='null']::before {
        content: 'X';
        color: #ea2225;
        font-size: 25px;
        line-height: 25px;
        background: none;
      }
    }

    .company-obj-tile {
      position: relative;
      width: 28px;
      height: 47px;
      background-image: url('img/ui/texture_light.jpg');
      border-radius: 3px;
      box-shadow: 2px 2px 3px -1px black;
      border: 1px solid black;
      background-size: 20px;
      margin-top: -11px;
      margin-right: 2px;
      display: flex;
      justify-content: center;
      align-items: center;

      text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
        rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px,
        rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
        rgb(0, 0, 0) 0.96017px -0.279416px 0px;

      &[data-value]::before {
        content: attr(data-value);
        color: white;
        font-family: 'acumin-pro', serif;
        font-size: 21px;
      }
    }

    .company-name {
      font-family: 'Oranienbaum';
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .company-panel-resources {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 1px 0;
    border-top: 1px solid #d5bea6;

    .company-reserve {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;

      .barrage-meeple:not(.moving) {
        display: none;
      }
    }

    .company-resource {
      margin: 4px 0px;
      position: relative;
      flex-basis: 25%;
      text-align: center;

      & > span {
        font-family: 'Oranienbaum';
        font-weight: bold;
      }

      .reserve {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        & > div.barrage-meeple:not(.moving) {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }

  .company-panel-personal-resources {
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 4px 0;
    border-top: 1px solid #d5bea6;

    .company-resource {
      margin: 4px 0px;
      position: relative;
      flex-basis: 25%;
      text-align: center;

      & > span {
        font-size: 18px;
        font-family: 'Oranienbaum';
        font-weight: bold;
      }
    }

    .meeple-container {
      margin-top: -0.8em;
    }
  }

  .company-income-wrapper {
    display: flex;
    position: relative;
    height: 30px;

    .company-income {
      font-size: 20px;
      flex-grow: 1;
      border-bottom: 1px solid #d5bea6;
      border-right: 1px solid #d5bea6;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        display: inline-block;
        margin-top: -5px;
        margin-right: -4px;
        content: '!';
        font-family: 'acumin-pro', serif;
        font-weight: 700;
        font-style: normal;
        color: #ddd563;
        font-size: 25px;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
          rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px,
          rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px,
          rgb(0, 0, 0) 0.96017px -0.279416px 0px;
        position: relative;
        z-index: 2;
      }

      &:empty::before {
        display: none;
      }
    }

    .company-fulfilled-contracts {
      flex-grow: 1;
      border-top: 1px solid #d5bea6;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        font-family: 'Oranienbaum';
        font-weight: bold;
      }

      .meeple-container {
        vertical-align: bottom;
      }

      .reserve {
        position: relative;
        .barrage-contract {
          visibility: hidden;
          position: absolute;
        }
      }
    }
  }

  .company-panel-contracts {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #d5bea6;
    padding-top: 3px;
  }

  .company-panel-wheel-container {
    display: flex;
    align-items: center;
    padding: 0.1rem 0;

    .company-summary-wheel {
      height: 105px;
      width: 98px;
      margin-left: -10px;
      flex-shrink: 0;

      .summary-wheel-inner {
        width: 100%;
        height: 100%;
        position: relative;
        clip-path: circle(150px at -53px 55px);

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: -3px;
          bottom: 0;
          width: 25px;
          background: #ebd5bd; //#484540;
          z-index: 2;
          clip-path: circle(150px at -133px 55px);
        }

        .summary-wheel-sector {
          position: absolute;
          width: 90px;
          height: 20px;
          transition: bottom 0.8s, left 0.8s, opacity 0.7s;
          border: 1px solid #484540;
          background: #b09977;
          display: flex;
          align-items: center;

          .barrage-tech-tile {
            clip-path: polygon(18% 15%, 82% 15%, 82% 78%, 18% 77%);
            margin-left: calc(-1 * var(--barrageTileScale) * 61px);
            margin-right: calc(-1 * var(--barrageTileScale) * 40px);
          }

          .icon-container {
            .barrage-icon.icon-mixer_icon span {
              font-size: 0.6em;
              line-height: 1.2em;
            }

            .barrage-icon.icon-excavator_icon span {
              font-size: 0.6em;
              line-height: 1.3em;
            }
          }
        }

        @for $i from 0 to 6 {
          &[data-angle='#{$i}'] {
            @for $j from 1 to 7 {
              $k: ($j - $i + 10) % 6;
              .summary-wheel-sector:nth-of-type(#{$j}) {
                bottom: $k * 21px;

                @if $k == 0 {
                  left: 3px;
                }
                @elseif $k == 1 {
                  left: 6px;
                }
                @elseif $k == 2 {
                  left: 11px;
                }
                @elseif $k == 3 {
                  left: 6px;
                }
                @elseif $k == 4 {
                  left: 3px;
                }
                @elseif $k == 5 {
                  left: 0px;
                  opacity: 0;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    .company-panel-tech-tiles {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 4;

      .barrage-tech-tile {
        margin-bottom: -22px;
        flex-basis: 40%;

        &:nth-child(2n) {
          margin-left: -10px;
          margin-top: 15px;
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  [data-wheel-summary='1'] .player-board.current-player-board &,
  [data-wheel-summary='2'] .player-board:not(.current-player-board) &,
  [data-wheel-summary='3'] & {
    .company-panel-wheel-container {
      .company-summary-wheel {
        display: none;
      }

      .company-panel-tech-tiles {
        .barrage-tech-tile {
          flex-basis: auto;
          margin-bottom: 0px;

          &:nth-child(2n) {
            margin: 0px;
          }
        }
      }
    }
  }
}
