:root {
  --barrageTileScale: 0.65;
}

.dijitTooltipContainer {
  --barrageTileScale: 1.3;
}

.barrage-tech-tile {
  width: calc(var(--barrageTileScale) * 324px);
  height: calc(var(--barrageTileScale) * 140px);
  position: relative;

  .tech-tile-fixed-size {
    width: 324px;
    height: 140px;
    transform: scale(var(--barrageTileScale));
    transform-origin: top left;
    display: flex;

    background: url('img/technology_tiles.png');
    background-size: 700% 500%;

    &[data-type='elevation'] {
      background-position-x: 1 * 100% / 6;
    }
    &[data-type='conduit'] {
      background-position-x: 2 * 100% / 6;
    }
    &[data-type='powerhouse'] {
      background-position-x: 3 * 100% / 6;
    }
    &[data-type='joker'] {
      background-position-x: 4 * 100% / 6;
    }
  }

  &.selectable {
    .tech-tile-fixed-size {
      cursor: pointer;
      background-color: green;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
